<p>api-get-signal works!</p>
@if (getUser(); as data) {
<p>
  {{data.id}} - {{data.name}}
</p>
}
<hr>
<p>create user request</p>
<input type="text" name="name" id="name" #inputName>
<button (click)="createUser({name: inputName.value})">
  submit
</button>

@if (response()) {
{{response()?.message}}
<br>
<pre>{{response()?.body | json}}</pre>
}
@if(isLoading()){
  <p>loading...</p>
}
<hr>

@for (item of getData(); track $index) {
<pre style="display: block;">
    {{item | json}}
  </pre>
<br>
}@empty {
<p>loading...</p>
}
